.header{
  display:flex;
  justify-content:space-between;
  align-items:center; 
  width:100%;
  padding:0.5rem;
  position:sticky;
  top:0;
  background:#000000;
  backdrop-filter: blur(5px);
  transition:all 0.5s ease;
  z-index:3;
}
  .options{
    display:block;
    text-decoration:none;
    & .item{
      text-decoration:none;
      width:100%;
      list-style:none;
      padding:1rem;
      font-size:1.75rem;
      display:flex;
      align-items:center;
      justify-content: space-between;
      border-bottom: 2px solid rgba(120,120,120,0.608);
    }
  }
